body {
  margin: 0 auto;
  padding: 0;
  height: 209px;
  font-size: 12px;
  line-height: 31px;
  color: rgb(139,143,151);
  font-family: "Lucida Grande";
}

/* checkboxes */
input[type=checkbox]:before {
  content:"";
  display:inline-block;
  width:18px;
  height:18px;
}
input[type=checkbox]:before {
  background: url('img/ShapeBlue.png') #fff;
  margin: -3px;
}
input[type=checkbox]:checked:before {
  background: url(img/checkmark.png) #fff no-repeat 2px;
  width:17px;
  height:17px;
  border: 1px solid #ddd;
  margin: -3px;
}

/* general style */
.list {
  padding: 0 !important;
  border: 1px solid #e6ebed;
}
.list li {
  list-style: none;
  border-bottom: 1px solid #e6ebed;
  height: 30px;
  padding-left: 10px;
}
.lines {
  border-left: 1px solid #f2e3df;
  border-right: 1px solid #f2e3df;
  width: 2px;
  float: left;
  margin-left: 2.5em;
  position: absolute;
  height:30px;
}
.done-true, .done-false {
  padding-left: 1.5em;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}
.trash {
  float: right;
  padding: 8px;
  visibility: visible;
}
.plus {
  padding-left: 3.5em;
}

/* Phones */
@media (max-width: 767px) {
  body {
	width: 100%;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
	width: 75%;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  body {
	width: 35%;
  }
}
